html {
    max-width: 100% !important;
    overflow-x: hidden;
}
body {
    max-width: 100% !important;
    overflow-x: hidden;
}

/* Navbar */
.cus-nav .logo img {
    width: 150px;
}
.cus-nav {
    background-color: #FFFFFF !important;
    z-index: 1000;
    width: 100%;
    position: fixed;
}
.cus-nav.fixed {
    width: 100%;
    position: fixed;
}
.cus-nav .nav-link {
    color: #000000;
    font-family: 'Comfortaa', cursive;
}
.cus-nav .nav-item {
    padding: 0px 15px;
    font-size: 18px;
    letter-spacing: 0.5px;
}
/* End of navbar */

/* Section one */
.one {
    background-color: #FFFFFF;
}
.one .tom-jerry {
    padding: 50px;
}
.one .tom-jerry img {
    width: 100%;
    max-height: 80vh;
    padding-top: 45px;
}
/* End of section one */
/* One One Section */
.one-one {
    background-color: #FFFFFF;
}
.one-one .tom img {
    width: 100%;
}
/* End of One One Section */

/* Section two */
.two {
    background-color: #f7eddf;
}
.two .spike {
    padding: 50px;
}
.two .spike img {
    width: 80%;
    max-height: 80vh;
    padding-top: 25px;
    margin-top: 50px;
}
/* End of section two */

/* Third Section */
.three {
    background-color: #FFFFFF;
}
.three .banner {
    text-align: center;
}
.three .banner img {
    width: 300px;
}
.three .banner h1 {
    padding: 10px;
    font-family: 'Comfortaa', cursive;
}
.three .side-label {
    width: 75%;
    height: 100%;
    background-color: #0329ad;
}
/* End of third section */

/* Fourth section */
.four {
    background-color: #FFFFFF;
}
.four h2 {
    color: #0329ad;
    font-family: 'Comfortaa', cursive;
}
.four ul li {
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}
/* End of fourth section */

/* Fifth section */
.five {
    background-color: #FFFFFF;
}
.five h3 {
    color: #0329ad;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
/* End of fifth section */

/* Sixth section */
.six {
    background-color: #FFFFFF;
}
.six img {
    width: 60%;
    padding: 50px;
}
/* End of sixth section */

/* Seventh section */
.seven {
    background-color: #f2f2f2;
}
.seven .h1-label {
    font-size: 25px;
    text-align: center;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
.seven .h1 {
    text-align: center;
    color: #0329ad;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
.seven .label {
    font-size: 18px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
.seven .subscribe {
    background-color: #0329ad;
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
}
.seven form input {
    font-family: 'Comfortaa', cursive;
}
.seven button {
    background-color: #0329ad;
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
    border-radius: 0px;
    padding: 10px;
}
.seven button:hover {
    color: #FFFFFF;
}
/* End of seventh section */

/* Eighth section */
.eight {
    background-color: #FFFFFF;
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.eight .layer {
    width: 100%;
    height: 100%;
    background-color: rgba(3, 41, 173, 0.7);
}
.eight .box {
    padding-top: 150px;
}
.eight .box .head-label {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.eight .box .head {
    color: #FFFFFF;
    font-size: 35px;
    text-align: center;
    margin: 0;
}
.eight .box .label {
    color: #FFFFFF;
    text-align: center;
}
.eight .box form label {
    color: #FFFFFF;
}
.eight .box form input {
    border-radius: 0;
    border: 0;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.2);
}
.eight .box button[type='submit'] {
    background-color: #FFFFFF;
    border-radius: 0;
    color: #0329ad;
}
/* End of eighth section */


/* Responsive styles */
@media only screen and (max-width:48em) { 
	.one .tom-jerry {
        padding: 0;
    }
    .one .tom-jerry img {
        width: 100%;
        max-height: 80vh;
        padding-top: 0;
    }

    .two .spike {
        padding: 0;
    }
    .two .spike img {
        width: 80%;
        max-height: 80vh;
        padding-top: 25px;
        margin-top: 0;
    }

    .four ul li {
        font-size: 20px;
        font-family: 'Comfortaa', cursive;
    }

    .six img {
        width: 60%;
        padding: 0;
    }

    .six img {
        width: 80%;
        padding: 0;
    }
}
/* End of responsive styles */



@keyframes move-wheel {
	from {
		transform: translateX(-50%) translateY(0);
	}

	to {
		transform: translateX(-50%) translateY(5px);
	}
}

.mouse {
	margin-left: -15px;
	position: fixed;
	bottom: 40px;
	left: 50%;
	width: 30px;
	height: 50px;
	cursor: pointer;
}

.mouse:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
}

.mouse-wheel {
	position: absolute;
	top: 10px;
	left: 50%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
	transform: translateX(-50%);
	animation: move-wheel 0.5s alternate infinite;
}

.mouse-arrow {
	position: absolute;
	bottom: -10px;
	left: 50%;
	width: 20px;
	height: 40px;
	transform: translateX(-50%);
}

.mouse-arrow:before {
	position: absolute;
	bottom: 0;
	content: "";
	left: calc(50% - 1px);
	width: 1px;
	height: 30px;
	background-color: #FFFFFF;
}

.mouse-arrow:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(50% - 6px);
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	transform: rotate(-45deg);
}