//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^chucqle.com[nc]
RewriteRule ^(.*)$ http://www.chucqle.com/$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(jpg|jpeg|png|css|js)$">
Header set Cache-Control "max-age=0"
</FilesMatch>

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes
 